/*
-400px      small phone
400-550px      --- --- phone --- ---
550-650px   large phone
650-900px   tablet portrait
900-1200    tablet landscape
1200-1800px  desktop
1800px+      big desktop
*/
/*
$breakpoint argument choices:
-small-phone
- --- phone standard ---
-large phone 
-tab-port
-tab-land
-big-desktop

*/
:root {
  --color-primary: #e91a80;
  --color-primary-2: #ff4918;
  --color-primary-opacity: rgba(255, 38, 215, 0.564);
  --color-primary-2-opacity: rgba(255, 70, 70, 0.622);
  --color-secondary: #00ced1b2;
  --color-secondary-2: #9370db;
  --color-dark: rgb(30, 30, 30);
  --color-dark-2: rgb(70, 70, 70);
  --color-dark-3: rgb(45, 45, 45);
  --color-light: rgb(253, 253, 253);
  --color-light-2: rgb(226, 226, 226);
  --color-light-3: rgb(194, 194, 194);
  --color-bcg-home: rgb(242, 242, 242);
  --color-photo-overlay: rgba(0, 0, 0, 0.393);
  --color-green: rgb(4, 151, 4);
  --shadow-box: 0 0 3 3 var( --color-dark-2);
  --default-font-size: 1.6rem; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: 'Nunito', sans-serif;
  font-weight: 300; }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 34.4em) {
    html {
      font-size: 64%; } }
  @media only screen and (min-width: 40.6em) {
    html {
      font-size: 64%; } }
  @media only screen and (min-width: 56.25em) {
    html {
      font-size: 62.5%; } }
  @media only screen and (min-width: 75em) {
    html {
      font-size: 52.5%; } }

body {
  background-color: var(--color-light);
  opacity: 0; }

.lock-scroll {
  overflow: hidden; }

input {
  padding: 0 0; }

h1 {
  font-size: 3.8rem;
  line-height: 4.5rem; }
  @media only screen and (max-width: 25em) {
    h1 {
      font-size: 3.3rem; } }
  @media only screen and (min-width: 40.6em) {
    h1 {
      font-size: 4.5rem;
      line-height: 5.5rem; } }
  @media only screen and (min-width: 56.25em) {
    h1 {
      font-size: 5rem; } }
  @media only screen and (min-width: 75em) {
    h1 {
      font-size: 6rem;
      line-height: 7rem; } }

h2 {
  font-size: 3rem; }
  @media only screen and (min-width: 34.4em) {
    h2 {
      font-size: 3.2rem; } }
  @media only screen and (min-width: 40.6em) {
    h2 {
      font-size: 3.5rem; } }
  @media only screen and (min-width: 56.25em) {
    h2 {
      font-size: 3.7rem; } }

p {
  line-height: 2.2rem; }

.heading-primary {
  color: var(--color-light);
  font-weight: 100; }

.heading-secondary {
  font-weight: 300; }

.heading {
  text-align: center; }

.text-white {
  color: var(--color-light); }

.text-dark {
  color: var(--color-dark); }

.contact-icon-email, .contact-icon-mobile {
  font-size: 3rem;
  margin-right: 3rem; }
  @media only screen and (max-width: 25em) {
    .contact-icon-email, .contact-icon-mobile {
      margin-right: 2rem;
      font-size: 2.5rem; } }
  @media only screen and (max-width: 25em) {
    .contact-icon-email, .contact-icon-mobile {
      font-size: 2.5rem; } }

.social-icon {
  font-size: 4.7rem; }
  @media only screen and (max-width: 25em) {
    .social-icon {
      font-size: 3.5rem; } }
  @media only screen and (min-width: 40.6em) {
    .social-icon {
      font-size: 5rem; } }
  @media only screen and (min-width: 75em) {
    .social-icon {
      font-size: 4.5rem; } }

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  -webkit-tap-highlight-color: transparent; }
  a:active, a:focus {
    outline: none;
    color: inherit; }

hr {
  border: 0.5px solid var(--color-light-5); }

.margin-bottom-small {
  margin-bottom: 2rem; }
  @media only screen and (min-width: 40.6em) {
    .margin-bottom-small {
      margin-bottom: 4rem; } }
  @media only screen and (min-width: 75em) {
    .margin-bottom-small {
      margin-bottom: 6rem; } }

.margin-bottom-medium {
  margin-bottom: 4rem; }
  @media only screen and (min-width: 40.6em) {
    .margin-bottom-medium {
      margin-bottom: 8rem; } }
  @media only screen and (min-width: 75em) {
    .margin-bottom-medium {
      margin-bottom: 12rem; } }

.margin-top-small {
  margin-top: 2rem; }
  @media only screen and (min-width: 40.6em) {
    .margin-top-small {
      margin-top: 4rem; } }
  @media only screen and (min-width: 75em) {
    .margin-top-small {
      margin-top: 6rem; } }

.margin-top-medium {
  margin-top: 4rem; }
  @media only screen and (min-width: 40.6em) {
    .margin-top-medium {
      margin-top: 8rem; } }
  @media only screen and (min-width: 75em) {
    .margin-top-medium {
      margin-top: 12rem; } }

.padding-nav {
  padding-top: 5rem; }
  @media only screen and (min-width: 75em) {
    .padding-nav {
      padding-top: 7rem; } }

@keyframes moveDownArrows {
  0% {
    opacity: 1;
    transform: translateY(0); }
  20% {
    opacity: 0;
    transform: translateY(4rem); }
  60% {
    opacity: 0;
    transform: translateY(-6rem); }
  100% {
    opacity: 1; } }

@keyframes GradientAnimation {
  0% {
    background-position: 0% 45%; }
  50% {
    background-position: 100% 55%; }
  100% {
    background-position: 0% 45%; } }

.btn, .btn:link, .btn:visited {
  border: none;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  transition: all .2s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  align-self: center;
  color: var(--color-light);
  padding: 1.5rem 2rem;
  font-weight: 300;
  letter-spacing: .25rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-radius: 4px;
  -webkit-tap-highlight-color: transparent;
  background: linear-gradient(45deg, var(--color-primary), var(--color-primary-2));
  cursor: pointer;
  outline: none; }
  @media only screen and (min-width: 75em) {
    .btn, .btn:link, .btn:visited {
      font-size: 1.4rem; } }
  .btn:hover, .btn:link:hover, .btn:visited:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
  .btn:active, .btn:focus, .btn:link:active, .btn:link:focus, .btn:visited:active, .btn:visited:focus {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 4rem rgba(var(--color-dark), 0.4); }

.form {
  margin: 0 3rem;
  padding: 5rem 2rem;
  background-color: var(--color-dark-3);
  margin-top: 12rem;
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 34.4em) {
    .form {
      padding: 5rem 4rem; } }
  @media only screen and (min-width: 40.6em) {
    .form {
      width: 60vw;
      margin-right: auto;
      margin-left: auto;
      padding: 5rem 4rem; } }
  @media only screen and (min-width: 75em) {
    .form {
      width: 50vw;
      margin-right: auto;
      margin-left: auto;
      padding: 5rem 6rem; } }
  .form__input {
    border: 1px solid var(--color-dark-3);
    border-radius: 2px;
    width: 100%;
    background-color: var(--color-light);
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    font-weight: 100;
    margin-bottom: 2rem;
    align-self: center;
    color: var(--color-dark);
    transition: .2s all; }
    .form__input:active, .form__input:focus {
      font-weight: 600;
      outline: none; }
    .form__input::-webkit-input-placeholder {
      color: var(--color-dark-2);
      font-weight: 100; }
  .form__text {
    margin: 0 auto;
    width: 100%;
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    margin-bottom: 5rem;
    height: 20vh; }
    .form__text:active, .form__text:focus {
      color: var(--color-dark);
      font-weight: 600;
      outline: none; }
  .form__button {
    align-self: center; }

.disclaimer {
  display: flex;
  margin-bottom: 4rem; }
  .disclaimer__cb-column, .disclaimer__label-column {
    display: flex;
    flex-direction: column; }
  .disclaimer__cb-column {
    margin-right: 2rem; }
  .disclaimer__checkbox:not(:last-of-type) {
    margin-bottom: 4rem; }
  .disclaimer__checkbox-label {
    color: var(--color-light-3);
    margin-left: 1rem;
    font-size: .8rem; }
    .disclaimer__checkbox-label:not(:last-of-type) {
      margin-bottom: 4rem; }

input[type=checkbox] {
  width: 2rem;
  height: 2rem; }

.disclaimer-newsletter {
  margin: 0 auto;
  max-width: 80vw; }
  @media only screen and (min-width: 40.6em) {
    .disclaimer-newsletter {
      max-width: 60vw; } }
  @media only screen and (min-width: 75em) {
    .disclaimer-newsletter {
      max-width: 40vw; } }

.dotted-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .dotted-nav__item {
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--color-light);
    border-radius: 5rem; }
    .dotted-nav__item--marked {
      background-color: var(--color-light);
      border: 1px solid var(--color-light); }
    .dotted-nav__item:not(:last-child) {
      margin-right: .7rem; }

.pagination-nav {
  margin: auto auto; }

.pagination {
  display: flex;
  list-style: none; }

.page-link {
  position: relative;
  display: block;
  padding: 1.3rem 1.3rem;
  margin-left: 1rem;
  font-size: 1.3rem;
  line-height: 1.5;
  color: var(--color-light);
  background-color: var(--color-dark-3);
  border-radius: .1rem;
  cursor: pointer; }
  @media only screen and (min-width: 56.25em) {
    .page-link {
      margin-left: 2rem; } }
  .page-link:hover {
    color: var(--color-light);
    text-decoration: none;
    background-color: var(--color-dark-2); }

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem; }

.page-item.active .page-link {
  z-index: 1;
  color: var(--color-light);
  background: linear-gradient(45deg, var(--color-primary), var(--color-primary-2)); }

.page-item.disabled .page-link {
  color: #6c757d;
  border-color: #dee2e6; }

.breadcrumb {
  padding-left: 2rem;
  margin: 0;
  margin: 2rem 0; }
  @media only screen and (min-width: 40.6em) {
    .breadcrumb {
      padding-left: 4rem; } }
  @media only screen and (min-width: 75em) {
    .breadcrumb {
      padding-left: 8rem; } }
  .breadcrumb__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.2rem;
    list-style-type: none; }
  .breadcrumb__item {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2.5rem; }
    @media only screen and (min-width: 40.6em) {
      .breadcrumb__item {
        font-size: 1.2rem; } }
    @media only screen and (min-width: 56.25em) {
      .breadcrumb__item {
        font-size: 1.4rem; } }
    @media only screen and (min-width: 56.25em) {
      .breadcrumb__item {
        font-size: 1.6rem; } }
    .breadcrumb__item:not(:last-child)::after {
      content: "/";
      font-weight: 300;
      margin: 0 1rem;
      right: 1rem; }
      @media only screen and (min-width: 56.25em) {
        .breadcrumb__item:not(:last-child)::after {
          margin: 2rem; } }
  .breadcrumb__link:link, .breadcrumb__link:visited {
    color: var(--color-dark); }
  .breadcrumb__link:active {
    border-bottom: 1px solid;
    border-color: var(--color-primary); }

.header-home {
  background: linear-gradient(178deg, var(--color-secondary-2), var(--color-secondary));
  background-size: 100% 160%;
  display: flex;
  z-index: 0;
  min-height: 95vh; }
  @media only screen and (min-width: 40.6em) {
    .header-home {
      min-height: 100vh; } }
  @media only screen and (min-width: 112.5em) {
    .header-home {
      min-height: 80vh; } }

.slider {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  animation-duration: 2s;
  animation-name: fadeIn; }
  @media only screen and (max-width: 25em) {
    .slider {
      padding-left: 2rem;
      padding-right: 2rem; } }
  .slider__text-box {
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
    margin-top: 5em;
    position: relative;
    align-self: center;
    max-width: 80vw; }
    @media only screen and (min-width: 40.6em) {
      .slider__text-box {
        max-width: 50vw;
        margin-top: 8rem; } }
    @media only screen and (min-width: 56.25em) {
      .slider__text-box {
        max-width: 50vw;
        margin-top: 15rem; } }
    @media only screen and (min-width: 112.5em) {
      .slider__text-box {
        max-width: 45vw;
        margin-top: 20rem; } }
  .slider__heading {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    max-width: 60vw;
    align-self: center;
    z-index: 5; }
    @media only screen and (max-width: 25em) {
      .slider__heading {
        padding: 0; } }
    @media only screen and (min-width: 40.6em) {
      .slider__heading {
        max-width: 70vw; } }
  .slider__description-box {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 25em) {
      .slider__description-box {
        padding: 3rem 1rem; } }
    @media only screen and (min-width: 75em) {
      .slider__description-box {
        max-width: 40vw;
        align-self: center; } }
  .slider__description {
    font-size: 1.6em;
    text-align: justify;
    color: var(--color-light-2);
    letter-spacing: .2rem;
    font-weight: 100;
    z-index: 5; }
    @media only screen and (max-width: 25em) {
      .slider__description {
        font-size: 1.4rem; } }
    @media only screen and (min-width: 75em) {
      .slider__description {
        font-size: 2rem;
        line-height: 3rem; } }
  .slider__btn-header {
    margin-top: 4rem;
    z-index: 1; }
    @media only screen and (min-width: 40.6em) {
      .slider__btn-header {
        margin-top: 6rem; } }
  .slider__nav {
    align-self: center;
    margin-top: 5rem; }
    @media only screen and (max-width: 25em) {
      .slider__nav {
        margin-top: 3rem; } }
  .slider__arrow-down {
    text-align: center;
    font-size: 3rem;
    animation: moveDownArrows 1.4s infinite; }

.footer {
  background-color: var(--color-dark);
  position: relative;
  color: var(--color-light); }
  .footer__main {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 4rem 6rem; }
    @media only screen and (min-width: 40.6em) {
      .footer__main {
        padding: 6rem 10rem; } }
    @media only screen and (min-width: 56.25em) {
      .footer__main {
        padding: 8rem 16rem; } }
    @media only screen and (min-width: 75em) {
      .footer__main {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        padding: 0 auto; } }
  .footer__about {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem; }
    @media only screen and (min-width: 75em) {
      .footer__about {
        max-width: 15vw; } }
  .footer__logo-box {
    align-self: center; }
  .footer__logo {
    width: 18rem;
    align-self: center; }
    @media only screen and (min-width: 40.6em) {
      .footer__logo {
        width: 20rem; } }
    @media only screen and (min-width: 75em) {
      .footer__logo {
        width: 16rem; } }
  .footer__about-text {
    text-align: justify;
    font-size: 1.4rem;
    color: var(--color-light-3);
    font-weight: 300;
    letter-spacing: .1rem;
    margin-top: 4rem; }
    @media only screen and (min-width: 40.6em) {
      .footer__about-text {
        font-size: 1.6rem;
        margin-top: 6rem; } }
  .footer__site-map {
    margin-bottom: 5rem; }
    @media only screen and (min-width: 75em) {
      .footer__site-map {
        margin-bottom: 0; } }
  .footer__heading {
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 300; }
  .footer__map {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem; }
  .footer__map a {
    color: var(--color-light); }
  .footer__map-item {
    text-decoration: none;
    color: var(--color-light);
    font-weight: 300;
    letter-spacing: .1rem;
    display: inline-block; }
    .footer__map-item:not(:last-child) {
      margin-bottom: 1rem; }
  .footer__list {
    list-style-type: none;
    padding-left: 2rem;
    margin-bottom: 1rem;
    font-weight: 300;
    letter-spacing: .1rem; }
  .footer__list-item {
    line-height: 3rem; }
  .footer__list-item a {
    color: var(--color-light-3); }
  .footer__contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .footer__contact-heading {
    font-weight: 300;
    letter-spacing: .1rem;
    margin-bottom: 3rem;
    text-align: center; }
  .footer__contact {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    height: 10rem; }
  .footer__contact-email-link, .footer__contact-mobile-link {
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--color-light-2); }
    @media only screen and (max-width: 25em) {
      .footer__contact-email-link, .footer__contact-mobile-link {
        font-size: 1.6rem; } }
  .footer__contact-mobile-link {
    align-self: flex-start; }
  .footer__contact-icons, .footer__contact-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 3rem; }
    @media only screen and (min-width: 75em) {
      .footer__contact-icons, .footer__contact-links {
        font-size: 1.2rem; } }
  .footer__contact-icons {
    align-items: center; }
  .footer__socials {
    display: flex;
    justify-content: center; }
  .footer__fb {
    margin-right: 3rem;
    color: var(---color-light-3); }
  .footer__twitter {
    color: var(---color-light-3); }
  .footer__legal {
    background-color: var(--color-dark-3);
    display: flex;
    padding: 2rem 0;
    line-height: 2rem;
    font-size: .9rem;
    color: var(--color-light-3);
    justify-content: center; }
    @media only screen and (min-width: 75em) {
      .footer__legal {
        font-size: 1.2rem;
        padding: 1rem 0; } }
    .footer__legal--left {
      border-right: 1px solid var(--color-light-3);
      padding-right: 2rem; }
    .footer__legal--right {
      padding-left: 2rem; }

.nav-bar {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: .3rem 0;
  padding-bottom: .5rem;
  z-index: 20;
  background-color: var(--color-dark);
  box-shadow: 0 .3rem .5rem;
  transition: all .5s;
  padding-left: 2rem;
  padding-right: 2rem; }
  @media only screen and (min-width: 40.6em) {
    .nav-bar {
      padding: .4rem 0;
      padding-left: 4rem;
      padding-right: 4rem; } }
  @media only screen and (min-width: 75em) {
    .nav-bar {
      padding: .5rem 0;
      padding-left: 8rem;
      padding-right: 8rem; } }
  @media only screen and (min-width: 112.5em) {
    .nav-bar {
      padding: .5rem 0;
      padding-left: 12rem;
      padding-right: 12rem; } }
  .nav-bar__logo {
    height: 4rem;
    padding-top: 1rem; }
    @media only screen and (min-width: 75em) {
      .nav-bar__logo {
        height: 5rem; } }
  .nav-bar__logo-link {
    cursor: pointer; }
  .nav-bar__logo-link img {
    width: 10rem; }
  .nav-bar__navigation {
    position: relative;
    transition: all .1; }
  .nav-bar__nav-phone {
    position: relative;
    opacity: 1; }
    @media only screen and (min-width: 40.6em) {
      .nav-bar__nav-phone {
        display: none; } }
    .nav-bar__nav-phone, .nav-bar__nav-phone::before, .nav-bar__nav-phone::after {
      border-bottom: 2px solid var(--color-light);
      border-top: 2px solid var(--color-light);
      background-color: transparent;
      width: 3.6rem;
      height: 1.8rem; }
      @media only screen and (min-width: 40.6em) {
        .nav-bar__nav-phone, .nav-bar__nav-phone::before, .nav-bar__nav-phone::after {
          display: none; } }
    .nav-bar__nav-phone::after {
      content: "";
      position: absolute;
      left: 0; }
    .nav-bar__nav-phone::after {
      content: "";
      top: .56rem; }
      @media only screen and (min-width: 34.4em) {
        .nav-bar__nav-phone::after {
          top: .65rem; } }
  .nav-bar__nav-phone-crossed {
    opacity: 0;
    position: relative;
    top: -.6rem; }
    .nav-bar__nav-phone-crossed, .nav-bar__nav-phone-crossed::before, .nav-bar__nav-phone-crossed::after {
      background-color: var(--color-light);
      width: 3.6rem;
      height: 2px; }
      @media only screen and (min-width: 40.6em) {
        .nav-bar__nav-phone-crossed, .nav-bar__nav-phone-crossed::before, .nav-bar__nav-phone-crossed::after {
          display: none; } }
    .nav-bar__nav-phone-crossed::before, .nav-bar__nav-phone-crossed::after {
      content: "";
      position: absolute;
      left: 0; }
    .nav-bar__nav-phone-crossed::after {
      content: "";
      top: 0;
      transform: rotate(135deg); }
    .nav-bar__nav-phone-crossed::before {
      content: "";
      top: 0;
      transform: rotate(-135deg); }
  .nav-bar__nav-list {
    display: inline-block;
    display: flex;
    align-items: stretch;
    list-style-type: none;
    z-index: 1;
    color: var(--color-light); }
  .nav-bar__navigation-item {
    display: none; }
    @media only screen and (min-width: 40.6em) {
      .nav-bar__navigation-item {
        display: inline-block;
        font-size: 1.2rem;
        color: var(--color-light);
        text-transform: uppercase;
        padding: 1.5rem 3rem;
        letter-spacing: .1rem;
        cursor: pointer; }
        .nav-bar__navigation-item:hover, .nav-bar__navigation-item:active {
          background-color: var(--color-dark-2); } }
  @media only screen and (min-width: 40.6em) and (min-width: 75em) {
    .nav-bar__navigation-item {
      margin-right: 4rem;
      font-size: 1.4rem; } }
  .nav-bar__toggle {
    height: 7rem;
    width: 7rem;
    background-color: transparent;
    display: inline;
    position: absolute;
    right: 0;
    z-index: 10; }
    @media only screen and (min-width: 40.6em) {
      .nav-bar__toggle {
        display: none; } }
  .nav-bar__navigation-blog-list {
    display: none; }
    @media only screen and (min-width: 40.6em) {
      .nav-bar__navigation-blog-list {
        display: none;
        top: 3.8rem;
        list-style-type: none;
        position: absolute;
        z-index: 15;
        top: 5.2rem;
        left: 0;
        flex-direction: column; } }
    @media only screen and (min-width: 75em) {
      .nav-bar__navigation-blog-list {
        top: 5.6rem; } }
  .nav-bar__navigation-blog-item {
    display: none; }
    @media only screen and (min-width: 40.6em) {
      .nav-bar__navigation-blog-item {
        display: inline-block;
        padding: 2rem 3rem;
        background-color: var(--color-dark-3);
        color: var(--color-light-2);
        font-size: 1.2rem;
        text-transform: uppercase;
        border-top: 2px solid var(--color-dark-3); }
        .nav-bar__navigation-blog-item:hover, .nav-bar__navigation-blog-item:active {
          background-color: var(--color-dark-2);
          color: var(--color-light-2); } }

.navigation-phone {
  position: fixed;
  width: 60%;
  height: 100vh;
  z-index: 10;
  background-color: var(--color-dark-3);
  left: -100%;
  padding-top: 7rem; }
  @media only screen and (min-width: 40.6em) {
    .navigation-phone {
      display: none; } }
  .navigation-phone__list {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    padding-top: 2rem; }
  .navigation-phone__item {
    padding: 2rem 3rem;
    color: var(--color-light-2);
    list-style-type: none; }
    .navigation-phone__item:active, .navigation-phone__item:focus {
      background-color: var(--color-dark-2);
      color: var(--color-light); }
  .navigation-phone__blog-item {
    display: none;
    color: var(--color-light-2);
    font-size: 1.2rem;
    letter-spacing: .1rem;
    margin-left: 4rem;
    line-height: 3em; }
    .navigation-phone__blog-item:active, .navigation-phone__blog-item:focus {
      background-color: var(--color-dark-2);
      color: var(--color-light); }

.aside {
  position: relative;
  display: flex;
  flex-direction: column; }
  .aside__box {
    padding: 2rem 3rem;
    background-color: var(--color-dark-3); }
  .aside__box-category {
    padding: 0 3rem; }
    @media only screen and (max-width: 25em) {
      .aside__box-category {
        padding: 0 1rem; } }
  .aside__heading {
    font-weight: 300;
    padding-top: 1rem;
    letter-spacing: .3rem; }

.newsletter__category {
  display: block;
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 100;
  color: var(--color-light);
  text-align: center; }

.newsletter__main {
  display: flex;
  margin-top: 2rem;
  flex-direction: column; }

.newsletter__input {
  width: 80vw;
  background-color: var(--color-light-2);
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  font-weight: 100;
  margin: 2rem 0;
  align-self: center;
  border: none;
  border-bottom: .5rem solid transparent;
  transition: all .7s;
  margin-bottom: 5rem; }
  @media only screen and (min-width: 40.6em) {
    .newsletter__input {
      width: 70vw; } }
  @media only screen and (min-width: 56.25em) {
    .newsletter__input {
      width: 60vw; } }
  @media only screen and (min-width: 75em) {
    .newsletter__input {
      width: 40vw; } }
  @media only screen and (min-width: 112.5em) {
    .newsletter__input {
      width: 30vw; } }
  .newsletter__input:focus {
    outline: none;
    border-bottom: 0.5rem solid var(--color-green); }
  .newsletter__input:focus:invalid {
    border-bottom: .5rem solid transparent; }
  .newsletter__input:-webkit-input-placeholder {
    color: var(--color-dark-2); }

.newsletter__button {
  margin: 3rem 0;
  text-transform: uppercase;
  padding-top: 1rem; }

.newsletter__button-arrow {
  font-size: 2rem;
  line-height: 2rem;
  padding: 0;
  margin-left: 1rem; }

.blog-categories__main {
  padding: 0 2rem;
  border-left: 0.25rem solid var(--color-primary-2-opacity);
  margin-top: 3rem;
  margin-bottom: 1rem; }

.blog-categories__list {
  list-style-type: none; }

.blog-categories__item {
  line-height: 2.5rem;
  letter-spacing: .15rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 300;
  color: var(--color-light-2); }

.articles-list__main {
  padding: 0 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  list-style-type: none;
  border-left: 0.25rem solid var(--color-primary-2-opacity); }

.articles-list__item {
  position: relative;
  line-height: 2rem;
  list-style-type: none;
  letter-spacing: .15rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--color-light-2);
  margin-bottom: 1.8rem; }

.about {
  align-items: center;
  margin-left: 4rem;
  margin-right: 4rem;
  padding: 2rem 0;
  font-size: 1.4rem; }
  @media only screen and (min-width: 40.6em) {
    .about {
      margin-left: auto;
      margin-right: auto;
      padding: 6rem 0;
      max-width: 70vw; } }
  @media only screen and (min-width: 75em) {
    .about {
      min-width: 50vw; } }
  .about__main-container {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (min-width: 75em) {
      .about__main-container {
        font-size: 1.6rem;
        flex-direction: row;
        justify-content: space-between; } }
  .about__main-heading-box {
    background: linear-gradient(168deg, var(--color-secondary-2), var(--color-secondary));
    background-size: 200% 160%;
    padding: 2rem; }
    @media only screen and (min-width: 40.6em) {
      .about__main-heading-box {
        padding: 4rem; } }
  .about__heading {
    text-align: left;
    margin: 2rem 0;
    font-size: 2.5rem;
    font-weight: 300; }
  @media only screen and (min-width: 56.25em) {
    .about__text-box {
      max-width: 60vw; } }
  @media only screen and (min-width: 75em) {
    .about__text-box {
      width: 25vw;
      margin-bottom: 0; } }
  .about__description {
    color: var(--color-dark-3); }
    @media only screen and (min-width: 40.6em) {
      .about__description {
        line-height: 2.3rem; } }
  .about__name {
    text-align: right;
    margin: 2rem 0;
    font-weight: 300;
    font-size: 2.5rem; }
  .about__photo {
    margin-top: 2rem;
    margin-bottom: 2rem; }

.experience {
  background-color: var(--color-light);
  padding: 2rem 4rem;
  align-items: center;
  font-size: 1.4rem; }
  @media only screen and (min-width: 40.6em) {
    .experience {
      padding: 4rem 0; } }
  @media only screen and (min-width: 75em) {
    .experience {
      font-size: 1.6rem; } }
  @media only screen and (min-width: 40.6em) {
    .experience__main-container {
      margin-left: auto;
      margin-right: auto;
      padding: 6rem 0;
      max-width: 70%; } }
  @media only screen and (min-width: 56.25em) {
    .experience__main-container {
      max-width: 60vw;
      margin-left: auto;
      margin-right: auto; } }
  @media only screen and (min-width: 75em) {
    .experience__main-container {
      max-width: 50vw; } }
  .experience__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media only screen and (min-width: 56.25em) {
      .experience__container {
        flex-direction: row; } }
  .experience__description, .experience__skills-item, .experience__numbers-description {
    color: var(--color-dark-3); }
    @media only screen and (min-width: 40.6em) {
      .experience__description, .experience__skills-item, .experience__numbers-description {
        line-height: 2.3rem; } }
    @media only screen and (min-width: 75em) {
      .experience__description, .experience__skills-item, .experience__numbers-description {
        line-height: 2.3rem; } }
  .experience__heading {
    text-align: left;
    margin: 2rem 0;
    font-size: 2.5rem;
    font-weight: 300; }
  .experience__text-box {
    margin-bottom: 4rem; }
    @media only screen and (min-width: 56.25em) {
      .experience__text-box {
        width: 25vw;
        margin-bottom: 0; } }
  .experience__skills {
    margin-left: 2rem;
    margin-bottom: 4rem; }
  .experience__skills-item {
    margin-left: 2rem;
    list-style-type: circle; }
    .experience__skills-item:not(:last-of-type) {
      margin-bottom: 1rem; }
  .experience__numbers {
    display: flex;
    flex-direction: column;
    padding: 4rem 0; }
    @media only screen and (min-width: 56.25em) {
      .experience__numbers {
        flex-direction: row; } }
  .experience__numbers-item {
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    width: 50%;
    margin-bottom: 4rem; }
    @media only screen and (min-width: 56.25em) {
      .experience__numbers-item {
        margin-bottom: 0;
        max-width: 13vw; } }
  .experience__numbers-badge {
    font-size: 6rem;
    margin-bottom: 2rem;
    background: -webkit-linear-gradient(168deg, var(--color-secondary), var(--color-secondary-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.testimonials {
  background: linear-gradient(148deg, var(--color-secondary-2), var(--color-secondary));
  background-size: 100% 160%;
  font-size: 1.4rem;
  width: 100%;
  padding: 10rem 2rem;
  color: var(--color-light-2); }
  @media only screen and (min-width: 75em) {
    .testimonials {
      font-size: 1.6rem; } }
  .testimonials__subtitle {
    display: block;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 100;
    color: var(--color-light);
    text-align: center; }
  .testimonials__heading {
    font-weight: 300;
    padding-top: 1rem;
    letter-spacing: .3rem;
    margin-bottom: 4rem; }
  .testimonials__container {
    margin: 0 auto;
    display: flex;
    flex-direction: row; }
    @media only screen and (min-width: 40.6em) {
      .testimonials__container {
        max-width: 80%; } }
  .testimonials__review-text {
    text-align: center;
    position: relative;
    margin-bottom: 4rem;
    z-index: 0; }
    .testimonials__review-text::before {
      content: "\201E";
      position: absolute;
      left: 0;
      top: -15vh;
      font-size: 30rem;
      color: var(--color-dark-3);
      opacity: .2;
      z-index: -1; }
  .testimonials__person {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .testimonials__name {
    font-size: 2rem;
    color: var(--color-light); }
  .testimonials__position {
    color: var(--color-light-2);
    font-size: 1.2rem; }
  .testimonials__arrow-box {
    padding: 4rem 2rem;
    margin: 0 4vw;
    align-self: center;
    cursor: pointer; }
    @media only screen and (min-width: 56.25em) {
      .testimonials__arrow-box {
        padding: 4rem 6rem; } }
  .testimonials__arrow--left {
    font-size: 3rem; }
    @media only screen and (min-width: 40.6em) {
      .testimonials__arrow--left {
        font-size: 3vw; } }
  .testimonials__arrow--right {
    font-size: 3rem; }
    @media only screen and (min-width: 40.6em) {
      .testimonials__arrow--right {
        font-size: 3vw; } }

.grey-box {
  width: 20rem;
  height: 25rem;
  background-color: gray;
  margin-left: auto;
  margin-right: auto; }

.blog-category {
  background: url("../img/category.png") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 4rem 3rem; }
  .blog-category::before {
    background-color: white;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    mix-blend-mode: darken;
    position: absolute;
    top: 0;
    left: 0; }
  .blog-category::after {
    background-color: black;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    mix-blend-mode: lighten;
    position: absolute;
    top: 0;
    left: 0; }
  @media only screen and (min-width: 34.4em) {
    .blog-category {
      padding: 8rem 10rem; } }
  @media only screen and (min-width: 75em) {
    .blog-category {
      padding: 12rem 20rem; } }
  @media only screen and (min-width: 112.5em) {
    .blog-category {
      padding: 16rem 30rem; } }
  .blog-category__heading {
    margin-bottom: 2rem;
    font-size: 3rem; }
  .blog-category__description {
    font-size: 1.6rem;
    color: var(--color-light-3);
    letter-spacing: .1rem;
    line-height: 2.4rem;
    text-align: justify; }

.blogpost {
  display: flex;
  flex-direction: column;
  padding: 0 2rem; }
  @media only screen and (min-width: 40.6em) {
    .blogpost {
      padding: 0 6rem; } }
  .blogpost__heading-text-box {
    padding: 0 2rem;
    margin-bottom: 2rem; }
  .blogpost__img-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    overflow: hidden;
    height: 55%;
    opacity: .8; }
    @media only screen and (min-width: 40.6em) {
      .blogpost__img-box {
        height: 45%; } }
    @media only screen and (min-width: 75em) {
      .blogpost__img-box {
        width: 75%; } }
  .blogpost__img {
    width: 100%; }
  .blogpost__text-content {
    text-align: justify;
    font-size: 1.8rem;
    line-height: 2.8rem;
    background-color: var(--color-light);
    padding: 3rem; }
    @media only screen and (min-width: 40.6em) {
      .blogpost__text-content {
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
        padding: 5rem; } }
  .blogpost__tag-container {
    margin-bottom: 2rem; }
    @media only screen and (min-width: 75em) {
      .blogpost__tag-container {
        width: 60vw;
        margin-left: auto;
        margin-right: auto; } }
  .blogpost__category, .blogpost__tag-category {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: .8rem;
    color: var(--color-light);
    letter-spacing: .3rem;
    padding: .3rem 0;
    background: linear-gradient(45deg, var(--color-primary), var(--color-primary-2)); }
  .blogpost__tag-category {
    font-size: 1rem;
    display: inline-block;
    padding: .3rem 1rem;
    letter-spacing: .3rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    border-radius: 2px; }

.home {
  background-color: var(--color-bcg-home);
  display: flex;
  flex-direction: column; }
  .home__blogpost-container {
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (min-width: 56.25em) {
      .home__blogpost-container {
        flex-flow: row wrap;
        margin-left: 1rem;
        margin-right: 1rem;
        justify-content: center; } }
    @media only screen and (min-width: 75em) {
      .home__blogpost-container {
        padding: 0;
        width: 80%;
        margin: 0 auto;
        align-items: center; } }
    @media only screen and (min-width: 112.5em) {
      .home__blogpost-container {
        width: 60%; } }

.post-min {
  position: relative;
  margin-bottom: 5rem;
  border-radius: .4rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--color-light);
  max-width: 80vw;
  border: 3px solid var(--color-dark-2);
  transition: all .4s; }
  @media only screen and (min-width: 56.25em) {
    .post-min:nth-child(even) {
      margin-left: 5rem; } }
  @media only screen and (min-width: 75em) {
    .post-min:nth-child(even) {
      margin-left: 10rem; } }
  @media only screen and (min-width: 34.4em) {
    .post-min {
      max-width: 70vw; } }
  @media only screen and (min-width: 40.6em) {
    .post-min {
      max-width: 60vw;
      margin-bottom: 8rem; } }
  @media only screen and (min-width: 56.25em) {
    .post-min {
      max-width: 40vw;
      align-self: center;
      min-height: 60vh;
      margin-bottom: 10rem; } }
  @media only screen and (min-width: 75em) {
    .post-min {
      max-width: 25vw;
      align-self: auto;
      min-height: 50vh; } }
  @media only screen and (min-width: 112.5em) {
    .post-min {
      max-width: 18vw;
      min-height: 25vh; } }
  .post-min__img-container {
    overflow: hidden;
    height: 55%;
    opacity: .8; }
  .post-min__img {
    width: 100%;
    z-index: 5; }
  .post-min__heading {
    display: inline-block;
    padding: 2rem 3rem;
    padding-bottom: 2rem;
    font-weight: 300;
    letter-spacing: .1rem;
    font-size: 2.5rem;
    line-height: 3rem; }
    @media only screen and (max-width: 25em) {
      .post-min__heading {
        padding: 2rem; } }
    @media only screen and (min-width: 40.6em) {
      .post-min__heading {
        width: 90%;
        align-self: center;
        line-height: 3.5rem; } }
  .post-min__category {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--color-light);
    letter-spacing: .5rem;
    padding: .1rem 0;
    line-height: 2rem;
    background: linear-gradient(45deg, var(--color-primary), var(--color-primary-2));
    opacity: 1; }
  .post-min__description-box {
    padding: 0 3rem;
    margin: 2rem 0;
    overflow: hidden; }
    @media only screen and (max-width: 25em) {
      .post-min__description-box {
        padding: 0 3rem; } }
    @media only screen and (min-width: 34.4em) {
      .post-min__description-box {
        width: 90%;
        align-self: center; } }
    @media only screen and (min-width: 40.6em) {
      .post-min__description-box {
        width: 90%;
        align-self: center; } }
  .post-min__description-text {
    font-size: var(--default-font-size);
    font-weight: 300;
    letter-spacing: .05rem;
    text-align: justify;
    color: var(--color-dark-2); }
    @media only screen and (max-width: 25em) {
      .post-min__description-text {
        letter-spacing: .1rem; } }
  .post-min__read-more {
    margin: 3rem 0; }
    @media only screen and (max-width: 25em) {
      .post-min__read-more {
        margin: 3rem 0; } }

.ty-page {
  display: flex;
  flex-direction: column;
  padding-left: 13rem;
  padding-right: 13rem;
  justify-content: center; }
  @media only screen and (max-width: 25em) {
    .ty-page {
      padding-left: 5rem;
      padding-right: 5rem; } }
  @media only screen and (min-width: 75em) {
    .ty-page {
      height: 70vh;
      margin: auto auto; } }
  @media only screen and (min-width: 112.5em) {
    .ty-page {
      height: 80vh;
      margin: auto auto; } }
  .ty-page__img {
    width: 10rem;
    align-self: center;
    margin-top: 10rem; }
    @media only screen and (max-width: 25em) {
      .ty-page__img {
        width: 8rem; } }
    @media only screen and (min-width: 40.6em) {
      .ty-page__img {
        width: 12rem; } }
    @media only screen and (min-width: 112.5em) {
      .ty-page__img {
        width: 16rem; } }
  .ty-page__text {
    margin-bottom: 10rem; }
    @media only screen and (min-width: 75em) {
      .ty-page__text {
        margin-top: 4rem; } }
