/*
0-600px     phone
600-900px   tablet portrait
900-1200    tablet landscape
1200-1800px   normal style of Natours
1800px+      big desktop
*/
/*
$breakpoint argument choices:
-small-phone
-phone
-tab-port
-tab-land
-big-desktop

ORDER:  BASE + TYPOGRAPHY  >   GENERAL LAYOUT + GRID  >  PAGE LAYOUT  >  COMPONENTS
*/
h1 {
  font-size: 4rem; }

h2 {
  font-size: 2.2rem; }

h3 {
  font-size: 3rem; }

.heading-primary {
  color: var(--color-light);
  font-weight: 200; }
  @media only screen and (min-width: 37.5em) {
    .heading-primary {
      font-size: 5rem; } }

.heading-secondary {
  margin-bottom: 2rem; }

.heading-black {
  color: var(--color-dark);
  text-align: center; }

.heading-white {
  color: var(--color-light);
  text-align: center; }

.text-gradient {
  background: -webkit-linear-gradient(var(--color-primary), var(--color-primary-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

:root {
  --color-primary: rgb(233, 26, 128);
  --color-primary-2: rgb(255, 73, 24);
  --color-primary-2-opacity: rgba(255, 70, 70, 0.722);
  --color-dark: rgb(30, 30, 30);
  --color-dark-2: rgb(70, 70, 70);
  --color-dark-3: hsl(0, 0%, 18%);
  --color-dark-4: rgb(24, 24, 24);
  --color-light: rgb(250, 248, 248);
  --color-light-2: rgb(228, 227, 227);
  --color-light-3: rgb(237, 240, 246);
  --color-light-4: rgb(189, 189, 189);
  --color-photo-overlay: rgb(61, 61, 61);
  --color-green: rgb(4, 151, 4);
  --shadow-box: 0 0 3 3 var( --color-dark-2);
  --default-font-size: 1rem; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 55.5%;
  font-family: 'Nunito', sans-serif; }
  @media only screen and (min-width: 25.5em) {
    html {
      font-size: 62.5%; } }

body {
  background-color: var(--color-light-2);
  min-height: 100vh; }

.btn, .btn:link, .btn:visited {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  transition: all .2s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  align-self: center;
  width: 17rem;
  padding: 1.3rem 0;
  font-weight: 600;
  letter-spacing: .2rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 4px; }
  .btn:hover, .btn:link:hover, .btn:visited:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    cursor: pointer; }
  .btn:active, .btn:focus, .btn:link:active, .btn:link:focus, .btn:visited:active, .btn:visited:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 4rem rgba(var(--color-dark), 0.4); }

.dotted-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .dotted-nav__item {
    width: 1rem;
    height: 1rem;
    border: 1px solid var(--color-light);
    border-radius: 5rem; }
    .dotted-nav__item--marked {
      background-color: var(--color-light);
      border: 1px solid var(--color-light); }
    .dotted-nav__item:not(:last-child) {
      margin-right: .7rem; }

.pagination-nav {
  margin: 4rem auto; }

.pagination {
  display: flex;
  list-style: none; }

.page-link {
  position: relative;
  display: block;
  padding: 1.3rem 1.3rem;
  margin-left: 1rem;
  font-size: 1.3rem;
  line-height: 1.5;
  color: var(--color-light);
  background-color: var(--color-dark-3);
  border-radius: 0.1rem;
  cursor: pointer; }
  .page-link:hover {
    color: var(--color-light);
    text-decoration: none;
    background-color: var(--color-dark); }

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem; }

.page-item.active .page-link {
  z-index: 1;
  color: var(--color-light);
  background: linear-gradient(45deg, var(--color-primary), var(--color-primary-2)); }

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  border-color: #dee2e6; }

.header {
  background-image: url("../img/bcg2.jpg");
  background-color: var(--color-photo-overlay);
  background-blend-mode: overlay;
  background-size: cover;
  min-height: 85vh; }

.slider {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin-bottom: 0rem; }
  .slider__arrow {
    flex-grow: 1;
    text-decoration: none;
    align-self: center; }
    .slider__arrow__link {
      color: var(--color-light);
      font-size: 5rem;
      font-weight: 100;
      text-decoration: none;
      justify-content: center; }
    .slider__arrow--left {
      order: 1;
      margin-left: 2rem; }
    .slider__arrow--right {
      order: 3;
      margin-right: 2rem; }
  .slider__text-box {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    order: 2;
    padding: 0 1rem;
    margin-top: 3rem;
    position: relative; }
  .slider__heading {
    text-align: center; }
  .slider__description-box {
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column; }
  .slider__description {
    font-size: 1.4rem;
    text-align: justify;
    color: var(--color-light-2); }
  .slider__btn-header {
    color: var(--color-light);
    margin-top: 5rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, var(--color-primary), var(--color-primary-2)); }
  .slider__nav {
    align-self: center;
    margin-top: 8rem; }

.footer {
  background-color: var(--color-dark-4);
  height: 60rem;
  position: relative; }
  .footer__legal {
    background-color: var(--color-dark-3);
    width: 100vw;
    position: absolute;
    bottom: 0;
    display: flex;
    padding: 2rem 0;
    line-height: 2rem;
    font-size: 1.1rem;
    color: var(--color-light-4);
    justify-content: center; }
    .footer__legal--left {
      border-right: 1px solid var(--color-light-4);
      padding-right: 2rem; }
    .footer__legal--right {
      padding-left: 2rem; }

.nav-bar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem; }
  .nav-bar__logo {
    height: 4.8rem;
    width: 15rem;
    margin-left: 3.5rem;
    margin-top: 1.4rem; }
  .nav-bar__navigation {
    position: relative;
    margin-right: 3.5rem; }
  .nav-bar__nav-phone {
    position: relative; }
    .nav-bar__nav-phone, .nav-bar__nav-phone::before, .nav-bar__nav-phone::after {
      border-bottom: 2px solid white;
      border-top: 2px solid white;
      background-color: transparent;
      width: 4rem;
      height: 2rem; }
    .nav-bar__nav-phone::after {
      content: "";
      position: absolute;
      left: 0; }
    .nav-bar__nav-phone::after {
      top: .7rem; }
    @media only screen and (min-width: 37.5em) {
      .nav-bar__nav-phone {
        display: none; } }
  .nav-bar__nav-list {
    display: flex;
    align-items: stretch;
    list-style-type: none; }
    @media only screen and (min-width: 37.5em) {
      .nav-bar__nav-list {
        display: inline-block; } }
  .nav-bar__navigation-item {
    display: none; }
    @media only screen and (min-width: 37.5em) {
      .nav-bar__navigation-item {
        display: inline-block;
        font-size: 1rem;
        color: var(--color-light);
        margin: 0 2rem;
        text-transform: uppercase; }
        .nav-bar__navigation-item:first-child {
          padding-bottom: 1rem;
          border-bottom: 2px solid var(--color-primary); } }

.home {
  background-color: var(--color-light-2);
  padding-top: 5rem;
  display: flex;
  flex-direction: column; }
  .home__heading-text-box {
    margin-bottom: 5rem; }
  .home__blogpost-container {
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
    flex-direction: column; }
  .home__pagination {
    margin-top: 5rem;
    min-width: 50%;
    background-color: green;
    position: relative; }

.post-min {
  position: relative;
  margin-bottom: 5rem;
  border-radius: .6rem;
  height: 55rem;
  box-shadow: 0 1.3rem 3rem var(--color-dark-2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--color-dark-3); }
  .post-min__img-container {
    overflow: hidden;
    height: 35%; }
  .post-min__img {
    width: 100%; }
  .post-min__heading {
    padding: 2rem 4rem;
    font-weight: 300;
    letter-spacing: .1rem; }
  .post-min__category {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: var(--default-font-size);
    color: var(--color-light);
    letter-spacing: .4rem;
    line-height: 1.8rem;
    background: linear-gradient(45deg, var(--color-primary), var(--color-primary-2)); }
  .post-min__description-box {
    padding: 2rem 5rem;
    overflow: hidden; }
  .post-min__description-text {
    font-size: 1.2rem;
    text-align: justify;
    color: var(--color-light-2);
    line-height: 1.7rem; }
  .post-min__read-more {
    position: absolute;
    bottom: 4rem;
    background-color: transparent;
    border: 3px solid var(--color-primary-2-opacity); }

.aside {
  position: relative;
  margin: 5rem 0;
  display: flex;
  flex-direction: column; }
  .aside__box {
    margin-bottom: 4rem;
    padding: 2rem 3rem;
    background-color: var(--color-dark-3); }
  .aside__box-category {
    padding: 0 3rem; }
  .aside__heading {
    font-weight: 300;
    padding-top: 1rem; }

.newsletter__category {
  display: block;
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 100;
  color: var(--color-light);
  text-align: center; }

.newsletter__main {
  display: flex;
  margin-top: 2rem;
  flex-direction: column; }

.newsletter__input {
  width: 80vw;
  background-color: var(--color-light-2);
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  font-weight: 100;
  margin: 2rem 0;
  align-self: center;
  border: none;
  border-bottom: .5rem solid transparent;
  transition: all .7s; }
  .newsletter__input:focus {
    outline: none;
    border-bottom: 0.5rem solid var(--color-green); }
  .newsletter__input:focus:invalid {
    border-bottom: .5rem solid transparent; }
  .newsletter__input::-webkit-input-placeholder {
    color: var(--color-dark-2); }

.newsletter__button {
  color: var(--color-light);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, var(--color-primary), var(--color-primary-2));
  width: 15rem; }

.blog-categories__main {
  padding: 0 2rem;
  border-left: 0.25rem solid var(--color-primary-2-opacity);
  margin-top: 3rem;
  margin-bottom: 1rem; }

.blog-categories__list {
  list-style-type: none; }

.blog-categories__item {
  line-height: 2.5rem;
  letter-spacing: .3rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 300;
  color: var(--color-light-2); }

.articles-list__main {
  padding: 0 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  list-style-type: none;
  border-left: 0.25rem solid var(--color-primary-2-opacity); }

.articles-list__item {
  position: relative;
  line-height: 2rem;
  list-style-type: none;
  letter-spacing: .3rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--color-light-2);
  margin-bottom: 1.8rem; }
