.aside {
    position: relative;
    display: flex;
    flex-direction: column;

    &__box {
        padding: 2rem 3rem;
        background-color: var(--color-dark-3);
        }
    &__box-category {
        padding: 0 3rem;

        @include respond(small-phone) {
            padding: 0 1rem;
        }
    }
    &__heading {
        font-weight: 300;
        padding-top: 1rem;
        letter-spacing: .3rem;
    }
}
.newsletter {
    &__category {
        display: block;
        letter-spacing: .2rem;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 100;
        color: var(--color-light);
        text-align: center;
    }
    &__main {
        display: flex;
        margin-top: 2rem;
        flex-direction: column;
    }
    &__input {
        width: 80vw;
        background-color: var(--color-light-2);
        padding: 1.5rem 2rem;
        font-size: 1.5rem;
        font-weight: 100;
        margin: 2rem 0;
        align-self: center;
        border: none;
        border-bottom: .5rem solid transparent;
        transition: all .7s;
        margin-bottom: 5rem;

        @include respond(tab-port) {
            width: 70vw;
        }
        @include respond(tab-land) {
            width: 60vw;
        }
        @include respond(desktop) {
            width: 40vw;
        }
        @include respond(big-desktop) {
            width: 30vw;
        }

        &:focus {
            outline: none;
            border-bottom: .5rem solid var(--color-green);
        }

        &:focus:invalid {
            border-bottom: .5rem solid transparent;
        }

        &:-webkit-input-placeholder {
            color: var(--color-dark-2);
        }
    }
   
    &__checkbox-label {
        color: var(--color-light-3);
        margin-left: 1rem;
        font-size: .8rem;
    }
    &__disclaimer {
        margin-left: 1rem;
  
        &:not(:last-of-type) {
            margin-bottom: 1rem;
        }
        @include respond(tab-port) {
            margin-left: 5rem;
        }
        @include respond(tab-land) {
            margin-left: 10rem;
        }
        @include respond(desktop) {
            margin-left: 20rem;
        }
    }
    &__button {
       margin: 3rem 0;
       text-transform: uppercase;
       padding-top: 1rem;
    }
    &__button-arrow {
        font-size: 2rem;
        // display: inline;
        line-height: 2rem;
        padding: 0;
        margin-left: 1rem;
    }
}

input[type=checkbox] {
    width: 2rem;
    height: 2rem;
    // display: none;
}
.blog-categories {

    &__main {
        padding: 0 2rem;
        border-left: .25rem solid var(--color-primary-2-opacity);
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    &__list {
        list-style-type: none;
    }

    &__item {
        line-height: 2.5rem;
        letter-spacing: .15rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-weight: 300;
        color: var(--color-light-2);
    }
}
.articles-list {

    &__main {
        padding: 0 2rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
        list-style-type: none;
        border-left: .25rem solid var(--color-primary-2-opacity);
    }
    &__item {
        position: relative;
        line-height: 2rem;
        list-style-type: none;
        letter-spacing: .15rem;
        font-size: 1.5rem;
        font-weight: 300;
        color: var(--color-light-2);
        margin-bottom: 1.8rem;
    }
}