.footer {
    background-color: var(--color-dark-4);
    position: relative;
    color: var(--color-light-2);

    &__main {
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 4rem 6rem;

        @include respond(tab-port) {
            padding: 6rem 10rem;
        }
        @include respond(tab-land) {
            padding: 8rem 16rem;
        }
        @include respond(desktop) {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-evenly;
            padding: 0 auto;
        }
    }

    //  --- ABOUT ---

    &__about {
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem;

        @include respond(desktop) {
            max-width: 15vw;
        }
    }
    &__logo-box {
        align-self: center;
    }
    &__logo {
        width: 18rem;
        align-self: center;
        margin-bottom: 4rem;

        @include respond(tab-port) {
            width: 20rem;
            margin-bottom: 6rem;
        }
        @include respond(desktop) {
            width: 16rem;
            margin-bottom: 6rem;
        }
    }
    &__about-text {
        text-align: justify;
        font-size: 1.4rem;
        color: var(--color-light-5);
        font-weight: 300;
        letter-spacing: .1rem;

        @include respond(tab-port) {
            font-size: 1.6rem;
        }
    }

    // --- SITE-MAP ---

    &__site-map {
        margin-bottom: 5rem;

        @include respond(desktop) {
            margin-bottom: 0;
        }
    }
    &__heading {
        text-align: center;
        margin-bottom: 3rem;
        font-weight: 300;
    }
    &__map {
        display: flex;
        flex-direction: column;
        font-size: 1.6rem;
    }
    &__map a {
        color: var(--color-light-2);
    }
    &__map-item {
        text-decoration: none;
        color: var(--color-light-4);
        font-weight: 300;
        letter-spacing: .1rem;
        display: inline-block;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
    &__list {
        list-style-type: none;
        padding-left: 2rem;
        margin-bottom: 1rem;
        font-weight: 300;
        letter-spacing: .1rem;
    }
    &__list-item {
        line-height: 3rem;
    }
    &__list-item a {
        color: var(--color-light-5);
    }

    // --- CONTACT ---

    &__contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__contact-heading {
        font-weight: 300;
        letter-spacing: .1rem;
        margin-bottom: 3rem; 
    }
    &__contact {
        margin-bottom: 5rem;
        display: flex;
        flex-direction: row;
        height: 10rem;
    }
   
    &__contact-email-link, &__contact-mobile-link {
        text-decoration: none;
        font-size: 1.8rem;
        color: var(--color-light-5);

        @include respond(small-phone) {
            font-size: 1.6rem;
        }
    }
    &__contact-mobile-link {
        align-self: flex-start;
    }
    &__contact-icons, &__contact-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        line-height: 3rem;
        
        @include respond(desktop) {
            font-size: 1.2rem;
        }
    }
    &__contact-icons {
        align-items: center;
    }
    &__socials {
        display: flex;
        justify-content: center;
    }
    &__fb {
        margin-right: 3rem;
        color: var(---color-light);
    }
    &__twitter {
        color: var(---color-light);
    }

    // --- LEGAL ---

    &__legal {
        background-color: var(--color-dark-3);
        display: flex;
        padding: 2rem 0;
        line-height: 2rem;
        font-size: .9rem;
        color: var(--color-light-4);
        justify-content: center;
        
        @include respond(desktop) {
            font-size: 1.2rem;
            padding: 1rem 0;
        }
        &--left {
            border-right: 1px solid var(--color-light-4);
            padding-right: 2rem;
        }
        &--right {
            padding-left: 2rem;
        }
    }
}