.header {
    background-image: url("../img/bcg2.jpg");
    background-color: var(--color-photo-overlay);
    background-blend-mode: overlay;
    
    // background: #614385;
    // background: -webkit-linear-gradient(to right, #516395, #614385);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #516395, #614385); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    background-size: cover;
    min-height: 85vh;
}



.slider {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 8rem;
   
    &__arrow {
        flex-grow: 1;
        text-decoration: none;
        align-self: center;
       
        &__link {
            color: var(--color-light);
            font-size: 5rem;
            font-weight: 100;
            text-decoration: none;
            justify-content: center;
        }

        &--left {
            order: 1;
            margin-left: 2rem;
        }
        &--right {
            order: 3;
            margin-right: 2rem;
        }
    }

    &__text-box {
        flex-grow: 3;
        display: flex;
        flex-direction: column;
        order: 2;
        padding: 0 1rem;
        margin-top: 3rem;
        position: relative;
    }
    &__heading { 
        text-align: center;
    }
    &__description-box {
        // position: absolute;
        // top: 1rem;
        padding: 5rem 3rem;
        display: flex;
        flex-direction: column;
    }
    &__description {
        font-size: 1.4rem;
        text-align: justify;
        color: var(--color-light-2);
    }
    &__btn-header {
        align-self: center;
        margin-top: 3rem;
        width: 15rem;
        height: 4rem;
        font-size: 1.4rem;
        font-weight: 900;
        border-radius: 5px;
        padding: 1rem 0;
        box-shadow: 0 2rem 4rem rgba(black,.5);
        background: linear-gradient(45deg, var(--color-primary), var(--color-primary-2));
    }
    &__nav {
        align-self: center;
        margin-top: 8rem;
        // border: 2px solid blue;
        // width: 15rem;
        // height: 3rem;
    }
}
