.header-home {
    background-image: url("../img/bcg2.jpg");
    background-color: var(--color-photo-overlay);
    background-blend-mode: overlay;
    background-size: cover;
    display: flex;
    

    @include respond(tab-port) {
        min-height: 70vh;
    }
    @include respond(large-phone) {
        min-height: 85vh;
    }
}

.slider {
    margin: auto auto;
    display: flex;
    flex-direction: column;

    @include respond(small-phone) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    
    &__text-box {
        display: flex;
        flex-direction: column;
        padding-bottom: 5rem;
        margin-top: 5em;
        position: relative;
        align-self: center;
        max-width: 70vw;

        @include respond(tab-port) {
            max-width: 50vw;
            margin-top: 8rem;
        }
        
    }
    &__heading { 
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 2rem;
        max-width: 60vw;
        align-self: center;

        @include respond(small-phone) {
            padding: 0;
        }
        @include respond(tab-port) {
            max-width: 70vw;
        }
    }
    &__description-box {
        padding: 3rem 2rem;
        display: flex;
        flex-direction: column;
        
        
        @include respond(small-phone) {
            padding: 3rem 1rem;
        }
        
    }
    &__description {
        font-size: 1.6em;
        text-align: justify;
        color: var(--color-light-2);
        letter-spacing: .1rem;
        text-shadow: var(--text-shadow);
        font-weight: 100;

        @include respond(small-phone) {
            font-size: 1.4rem;
        }
    }
    &__btn-header {
        margin-top: 4rem;

        @include respond(tab-port) {
            margin-top: 6rem;
        }
    }
    &__nav {
        align-self: center;
        margin-top: 5rem;

        @include respond(small-phone) {
            margin-top: 3rem;
        }
    }
}
