.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;

        &__logo {
            height: 3.6rem;
            margin-left: 2.5rem;
            margin-top: 1.4rem;
        }
        &__logo-link {
            cursor: pointer;
        }

        &__navigation {
            position: relative;
            margin-right: 2.5rem;
        }

        &__nav-phone {
            position: relative;

            &,
            &::before,
            &::after {
            border-bottom: 2px solid white;
            border-top: 2px solid white;
            background-color: transparent;
            width: 3.6rem;
            height: 1.8rem;
            }

            // &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
            }

            // &::before {top: 1rem;}
            &::after {top: .6rem;}

            @include respond(tab-port) {
                display: none;  
            }
        }
        &__nav-list {
            
            @include respond(tab-port) {
                display: inline-block; 
            }
            // margin-right: 2rem;
            display: flex;
            align-items: stretch;
            list-style-type: none;
        }

        &__navigation-item {
            display: none;

            @include respond(tab-port) {
            display: inline-block;
            font-size: 1rem;;
            color: var(--color-light);
            margin: 0 2rem;
            text-transform: uppercase;


            &:first-child {
                padding-bottom: 1rem;
                border-bottom: 2px solid var(--color-primary);
                // width: rem;
            }
        }
        }
        &__dark-version {
            background-color: var(--color-dark-3);
            padding-bottom: 1rem;
        }
    }