.nav-bar {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: .3rem 0;
    padding-bottom: .5rem;
    z-index: 20;
    background-color: var(--color-dark);
    box-shadow: 0 .3rem .5rem;

    transition: all .5s;
    padding-left: 2rem;
    padding-right: 2rem;
    
        @include respond(tab-port) {
            padding: .4rem 0;
            padding-left: 4rem;
            padding-right: 4rem;
        }
        @include respond(desktop) {
            padding: .5rem 0;
            padding-left: 8rem;
            padding-right: 8rem;
        }
        @include respond(big-desktop) {
            padding: .5rem 0;
            padding-left: 12rem;
            padding-right: 12rem;
        }

    &__logo {
        height: 4rem;
        padding-top: 1rem;

        @include respond(desktop) {
            height: 5rem;
        }
    
    }
    &__logo-link {
        cursor: pointer;
    }
    &__logo-link img {
        width: 10rem;
    }
    &__navigation {
        position: relative;
        transition: all 1s;
    }
    &__nav-phone {
        position: relative;
        opacity: 1;


        border-bottom: 2px solid var(--color-light);
        border-top: 2px solid var(--color-light);
        background-color: transparent;
        width: 3.6rem;
        height: 1.2rem;

            @include respond(tab-port) {
                display: none;  
            }
        
        &::after {
            content: "";
            position: absolute;
            
            border-top: 2px solid var(--color-light);
            width: 3.6rem;
            left: 0;
            top: 1.8rem;
        }
      
    }

    &__nav-phone-crossed {
        display: none;
        position: relative;
        bottom: .5rem;


        
        &::before,
        &::after {
        
        background-color: var(--color-light);
        width: 3.6rem;
        height: 2px;

            @include respond(tab-port) {
                display: none;
            }
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
        }

        &::after {
            content: "";
            top: 0;
            transform: rotate(135deg);
        }
        &::before {
            content: "";
            top: 0;
            transform: rotate(-135deg);
        }
    }

    &__nav-list {
        display: inline-block; 
        display: flex;
        align-items: stretch;
        list-style-type: none;
        z-index: 1;
        color: var(--color-light);
    }

    &__navigation-item {
        display: none;

        @include respond(tab-port) {
            display: inline-block;
            font-size: 1.2rem;;
            color: var(--color-light);
            text-transform: uppercase;
            padding: 1.5rem 3rem;
            letter-spacing: .1rem;
            cursor: pointer;

            &:hover,
            &:active {
                background-color: var(--color-dark-2);
              
            }
            @include respond(desktop) {
                margin-right: 4rem;
                font-size: 1.4rem;
            }
        }
    }
    &__toggle {
        height: 7rem;
        width: 7rem;
        background-color: transparent;
        display: inline;
        position: absolute;
        right: 0;
        z-index: 10;

        @include respond(tab-port) {
            display: none;
        }
    }
    &__navigation-blog-list {
        display: none;
        
        @include respond(tab-port) {
            display: none;
            top: 3.8rem;
            list-style-type: none;
            position: absolute;
            z-index: 15;
            top: 5.2rem;
            left: 0;
            flex-direction: column;
            // box-shadow: 0 .5rem 1rem -.2rem black;
        }
        @include respond(desktop) {
            top: 5.6rem;
        }

    }
    &__navigation-blog-item {
        display: none;

        @include respond(tab-port) {
            display: inline-block;
            padding: 2rem 3rem;
            background-color: var(--color-dark-3);
            color: var(--color-light-2);
            font-size: 1.2rem;
            text-transform: uppercase;
            border-top: 2px solid var(--color-dark-3);

        &:hover,
        &:active {
            background-color: var(--color-dark-2);
            color: var(--color-light-2);
        }
        }
    }
    }

.navigation-phone {
    position: fixed;
    width: 60%;
    height: 100vh;
    z-index: 10;
    background-color: var(--color-dark-3);
    left: -100%;
    padding-top: 7rem;
    transition: all .2s;

    @include respond(tab-port) {
        display: none;
    }

    &__list {
        display: flex;
        flex-direction: column;
        font-size: 1.4rem;
        padding-top: 2rem;

    }
    &__item {
        padding: 2rem 3rem;
        color: var(--color-light-2);
        list-style-type: none;

        &:active,
        &:focus {
            background-color: var(--color-dark-2);
            color: var(--color-light);
        }
    }
    &__blog-box {
        display: none;
        flex-direction: column;
    }
    &__blog-item {
        color: var(--color-light-2);
        font-size: 1.2rem;
        letter-spacing: .1rem;
        margin-left: 4rem;
        line-height: 3em;

        &:active,
        &:focus {
            background-color: var(--color-dark-2);
            color: var(--color-light);
        }
    }
}
