.margin-bottom-small {
    margin-bottom: 2rem;

    @include respond(tab-port) {
        margin-bottom: 4rem;
    }
    @include respond(desktop) {
        margin-bottom: 6rem;
    }
}
.margin-bottom-medium {
    margin-bottom: 4rem;

    @include respond(tab-port) {
        margin-bottom: 8rem;
    }
    @include respond(desktop) {
        margin-bottom: 12rem;
    }
}
.margin-top-small {
    margin-top: 2rem;

    @include respond(tab-port) {
        margin-top: 4rem;
    }
    @include respond(desktop) {
        margin-top: 6rem;
    }
}
.margin-top-medium {
    margin-top: 4rem;

    @include respond(tab-port) {
        margin-top: 8rem;
    }
    @include respond(desktop) {
        margin-top: 12rem;
    }
}
.padding-nav {
    padding-top: 5rem;

    @include respond(desktop) {
        padding-top: 7rem;
    }
}