.breadcrumb {
    padding-left: 2rem;
    margin: 0;
    margin: 2rem 0;
    
    @include respond(tab-port) {
        padding-left: 4rem;
    }
    @include respond(desktop) {
        padding-left: 8rem;
        
    }
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 1.2rem;
        list-style-type: none;

    }
    &__item {
        font-size: 1.2rem;
        font-weight: 300;
        
        @include respond(tab-port) {
            font-size: 1.2rem;
        }
        @include respond(tab-land) {
            font-size: 1.4rem;
        }
        @include respond(tab-land) {
            font-size: 1.6rem;
        }

        &:not(:last-child)::after {
            content: "/";
            font-weight: 300;
            margin: 0 1rem;
            right: 1rem;

            @include respond(tab-land) {
                margin: 2rem;
            }
        }
    }
    &__link{
        &:link,
        &:visited {
            color: var(--color-dark);
        }
        &:active {
            border-bottom: 1px solid;
            border-color: var(--color-primary);
        }
}
}