.breadcrumb {
    padding-left: 4rem;
    margin: 1rem 0;
    
    @include respond(desktop) {
        padding-left: 8rem;
        margin: 2rem 0;
    }
    &__list {
        display: flex;
        flex-direction: row;
        font-size: 1.4rem;
        list-style-type: none;

        @include respond(tab-port) {
            font-size: 1.5rem;
        }
    }
    &__item {

        font-size: 1.6rem;

        &:not(:last-of-type)::after {
            content: "/";
            // padding: 0 1.2rem;
            font-weight: 300;
            margin: 0 2rem;
            right: 1rem;
        }
        
    }
    &__link{
        &:link,
        &:visited {
            color: var(--color-dark);
        }
        &:active {
            border-bottom: 1px solid;
            border-color: var(--color-primary);
        }
}
}