.btn {
    &,
    &:link,
    &:visited {

        border: none;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        transition: all .2s;
        box-shadow: 0 .5rem 1rem rgba(black,.5);
        align-self: center;
        color: var(--color-light);
        padding: 1.5rem 2rem;
        font-weight: 300;
        letter-spacing: .25rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        border-radius: 4px;
        -webkit-tap-highlight-color: transparent;
        background: linear-gradient(45deg, var(--color-primary), var(--color-primary-2));
        cursor: pointer;
        outline: none;

        @include respond(desktop) {
            font-size: 1.4rem;
        }
    
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(black,.5);
    }
    
    &:active,
    &:focus {
        
        transform: translateY(-1px);
        box-shadow: 0 .5rem 4rem rgba(var(--color-dark),.4);
        
    }
    }
}