.form {
    margin: 0 3rem;
    padding: 5rem 2rem;
    background-color: var(--color-dark-3);
    margin-top: 12rem;
    display: flex;
    flex-direction: column;

    @include respond(large-phone) {
        // margin-right: auto;
        // margin-left: auto;
        padding: 5rem 4rem;
    }
    @include respond(tab-port) {
        width: 60vw;
        margin-right: auto;
        margin-left: auto;
        padding: 5rem 4rem;
    }
    @include respond(desktop) {
        width: 50vw;
        margin-right: auto;
        margin-left: auto;
        padding: 5rem 6rem;
    }

    &__input {
        border: 1px solid var(--color-dark-3);
        border-radius: 2px;
        width: 100%;
        background-color: var(--color-light);
        padding: 1.5rem 2rem;
        font-size: 1.5rem;
        font-weight: 100;
        margin-bottom: 2rem;
        align-self: center;
        color: var(--color-dark);
        transition: .2s all;
        
        &:active,
        &:focus {
            font-weight: 600;
            outline: none;
        }
        &::-webkit-input-placeholder {
            color: var(--color-dark-2);
            font-weight: 100;
        }
    }
    &__text {
        margin: 0 auto;
        width: 100%;
        padding: 1.5rem 2rem;
        font-size: 1.5rem;
        margin-bottom: 5rem;
        height: 20vh;

        &:active,
        &:focus {
            color: var(--color-dark);
            font-weight: 600;
            outline: none;
        }
    }
    &__button {
        align-self: center;
    }
}