:root {
    //  COLORS
    --color-primary: rgb(0, 184, 147);
    --color-primary-2: rgb(85, 239, 195);
    --color-dark: rgb(30, 30, 30);
    --color-dark-2: rgb(70, 70, 70);
    --color-light: rgb(250, 248, 248);
    --color-light-2: rgb(236, 236, 236);
    --color-photo-overlay: rgb(75, 73, 73); 
    
    //  SHADOW
    --shadow-box: 0 0 3 3 var( --color-dark-2);
    
    //  FONT
    --default-font-size: 1.6rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 55.5%;
    font-family: 'Nunito', sans-serif;

    @include respond(phone) {
        font-size: 62.5%  // 1rem = 10px
    }
}
body {
    background-color: var(--color-light-2);
    min-height: 100vh;
}