h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2.2rem;
}

.heading-primary {
    color: var(--color-light);
    font-weight: 200;
    
    @include respond(tab-port) {
    font-size: 5rem;
    }
}
.heading-secondary {
    margin-bottom: 2rem;
}
.heading-black {
    color: var(--color-dark);
    text-align: center;
}
.heading-white {
    color: var(--color-light-2);
    text-align: center;
}
