h1 {
    font-size: 3.8rem;
    @include respond(tab-port) {
        font-size: 4.2rem;
        }
    @include respond(small-phone) {
        font-size: 3.3rem;
        }
}
h2 {
    font-size: 2.2rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.5rem;
}

.heading-primary {
    color: var(--color-light);
    font-weight: 100;
}
.heading-secondary {
    margin-bottom: 2rem;
    font-weight: 300;
}
.heading {
    text-align: center;
}
.text-white {
    color: var(--color-light);
}
.text-dark {
    color: var(--color-dark);
}
.text-gradient {
    background: -webkit-linear-gradient(var(--color-primary), var(--color-primary-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// --- font-awesome ---
.contact-icon-email, .contact-icon-mobile  {
    font-size: 3rem;
    margin-right: 3rem;

    @include respond(small-phone) {
        margin-right: 2rem;
        font-size: 2.5rem;
    }
}
.social-icon {
    font-size: 4.7rem;
    
    @include respond(small-phone) {
        font-size: 3.5rem;
    }
}

// --- SELECTORS ---
a {
    text-decoration: none;
}
