.about {
    // padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    @include respond(tab-port) {
        width: 80vw;
        margin: auto auto;
        padding: 5rem 0;
        padding-bottom: 0;
        flex-direction: row;
        justify-content: space-evenly;
    }
    // @include respond(desktop) {
    //     width: 50vw;
    //     margin: auto auto;

    // }

    &__description-box {
        max-width: 30vw;
    }
    &__heading {
        text-align: center;
        padding: 1rem 0;
        background: linear-gradient(50deg, var(--color-primary-opacity), var(--color-primary-2) );
    }
    &__description {
        // text-align: justify;
        font-size: 1.6rem;
        color: var(--color-dark-3);
        letter-spacing: .2rem;
        @include respond(tab-port) {

        }
    }
    &__name-box {
        
    }
    &__name {
        text-align: center;
    } 
}
.box1 {
    width: 20vw;
    height: 20vh;
    background-color: rgba(0, 128, 128, 0.219);
    display: inline-block;
}