.blog-category {
    background: url("../img/category.png") no-repeat center center fixed;
    background-size: cover;
    // background-blend-mode: overlay;
    // background-color: rgba(35, 12, 65, 0.295);
    
    width: 100%;
    height: 100%;
    padding: 4rem 3rem;

    &::before {
        background-color: white;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        mix-blend-mode: darken;
        position: absolute;
        top: 0;
        left: 0;
      }
      &::after {
        background-color: black;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        mix-blend-mode: lighten;
        position: absolute;
        top: 0;
        left: 0;
      }

    
    @include respond(large-phone) {
        padding: 8rem 10rem;
    }
    @include respond(desktop) {
        padding: 12rem 20rem;
    }
    @include respond(big-desktop) {
        padding: 16rem 30rem;
    }
    &__heading {
        margin-bottom: 2rem;
        font-size: 3rem;
    }
    &__description {
        font-size: 1.6rem;
        color: var(--color-light-3);
        letter-spacing: .1rem;
        line-height: 2.4rem;
        text-align: justify;
    }
}