.blog-category {
    background-image: url("../img/category.png");
    background-blend-mode: overlay;
    background-color: rgba(35, 12, 65, 0.295);
    background-size: cover;
    padding: 4rem 3rem;
    
    @include respond(large-phone) {
        padding: 5rem 10rem;
    }
    @include respond(desktop) {
        padding: 8rem 20rem;
    }
    @include respond(big-desktop) {
        padding: 16rem 30rem;
    }
    &__heading {
        margin-bottom: 2rem;
        font-size: 3rem;
    }
    &__description {
        font-size: 1.6rem;
        color: var(--color-light-3);
        letter-spacing: .1rem;
        line-height: 2.4rem;
        text-align: justify;
    }
}