    .home {
        background-color: var(--color-bcg-home);
        display: flex;
        flex-direction: column;

        &__blogpost-container {
            padding-left: 3rem;
            padding-right: 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include respond(tab-land) {
                flex-flow: row wrap;
                margin-left: 1rem;
                margin-right: 1rem;
                justify-content: center;
            }
            @include respond(desktop) {
                padding: 0;
                width: 80%;
                margin: 0 auto;
                align-items: center;
            }
            @include respond(big-desktop) {
                width: 60%;
            }
        }
    }
// --- POST-MIN ---
.post-min {
    position: relative;
    margin-bottom: 5rem;
    border-radius: .4rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--color-light);
    max-width: 80vw;
    border: 3px solid var(--color-dark-2);
    transition: all .4s;  

    &:nth-child(even) {

        @include respond(tab-land) {
            margin-left: 5rem;
        }
        @include respond(desktop) {
            margin-left: 10rem;
        }
    }

        @include respond(large-phone) {
            max-width: 70vw;
        }
        @include respond(tab-port) {
            max-width: 60vw; 
            margin-bottom: 8rem;
        }

        @include respond(tab-land) {
            max-width: 40vw; 
            align-self: center;
            min-height: 60vh;
            margin-bottom: 10rem;
        }
        @include respond(desktop) {
            max-width: 25vw; 
            align-self: auto;
            min-height: 50vh;
        }
        @include respond(big-desktop) {
            max-width: 18vw; 
            min-height: 25vh;
        }
    
    &__img-container {
        overflow: hidden;
        height: 55%;
        opacity: .8;
    }
    &__img{
        width: 100%;
        z-index: 5;  
    }
    &__heading {
        display: inline-block;
        padding: 2rem 3rem;
        padding-bottom: 2rem;
        font-weight: 300;
        letter-spacing: .1rem;
        font-size: 2.5rem;
        line-height: 3rem;

        @include respond(small-phone) {
            padding: 2rem;
        }
        @include respond(tab-port) {
            width: 90%;
            align-self: center;
            line-height: 3.5rem;
        }
    }
    &__category {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.4rem;
        color: var(--color-light);
        letter-spacing: .5rem;
        padding: .1rem 0;
        line-height: 2rem;
        background: linear-gradient(45deg, var(--color-primary), var(--color-primary-2) );
        opacity: 1;
    }
 
    &__description-box {
        padding: 0 3rem;
        margin: 2rem 0;
        overflow: hidden;
        // height: 15rem;

        @include respond(small-phone) {
            padding: 0 3rem;
        }
        @include respond(large-phone) {
            width: 90%;
            align-self: center;
        }
        @include respond(tab-port) {
            width: 90%;
            align-self: center;
        }
    }
    &__description-text {
        font-size:  var(--default-font-size);
        font-weight: 300;
        letter-spacing: .05rem;
        text-align: justify;
        color: var(--color-dark-2);
        // line-height: 1.8rem;

        @include respond(small-phone) {
            letter-spacing: .1rem;
        }
    }

    &__read-more {
        margin: 3rem 0;
        // font-weight: 300;
        
        @include respond(small-phone) {
            margin: 3rem 0;
        }
    }
}


