.home {
    // min-height: 320vh;
    background-color: var(--color-light-2);
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    
    &__heading-text-box{
        margin-bottom: 5rem;
    }
    
    &__blogpost-container {
        margin-left: 4rem;
        margin-right: 4rem;
        display: flex;
        flex-direction: column;
    }
    // &__pagination {
    //     margin-top: 5rem;
    //     min-width: 50%;
    //     position: relative;
    //     // display: inline;
    // }
}
// --- POST-MIN ---
.post-min {
    position: relative;
    margin-bottom: 5rem;
    border-radius: .6rem;
    // height: 55rem;
    box-shadow: 0 .3rem 3rem var(--color-dark-2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--color-dark-3);
    border: 5px solid var(--color-dark-2);

    &__img-container {
        overflow: hidden;
        height: 35%;
    }
    &__img{
        width: 100%;
    }
    &__heading {
        padding: 2rem 4rem;
        font-weight: 300;
        letter-spacing: .1rem;

        @include respond(small-phone) {
            padding: 0 2rem;
            padding-bottom: 2rem;
            font-size: 2rem;
        }
    }
    &__category {
        text-align: center;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 1.2rem;
        color: var(--color-light);
        letter-spacing: .4rem;
        line-height: 2rem;
        background: linear-gradient(45deg, var(--color-primary), var(--color-primary-2) );
    }
    &__description-box {
        padding: 0 5rem;
        margin: 2rem 0;
        overflow: hidden;
        // height: 15rem;

        @include respond(small-phone) {
            padding: 0 3rem;
        }
    }
    &__description-text {
        font-size: 1.3rem;
        font-weight: 300;
        text-align: justify;
        color: var(--color-light-2);
        line-height: 1.8rem;

        @include respond(small-phone) {
        font-size: 1.2rem;
        }
    }

    &__read-more {
        // position: absolute;
        // bottom: 4rem;
        margin: 3rem 0;
        background-color: var(--color-dark-2);
        border: 2px solid var(--color-primary-2-opacity);
        color: var(--color-light-2);
        font-weight: 400;
        
        @include respond(small-phone) {
            margin: 3rem 0;
        }
    }
}

// --- ASIDE ---

.aside {
    position: relative;
    margin: 5rem 0;
    display: flex;
    flex-direction: column;

    &__box {
        margin-bottom: 4rem;
        padding: 2rem 3rem;
        background-color: var(--color-dark-3);
        }
    &__box-category {
        padding: 0 3rem;

        @include respond(small-phone) {
            padding: 0 1rem;
        }
    }
    &__heading {
        font-weight: 300;
        padding-top: 1rem;
        letter-spacing: .3rem;
    }
}


.newsletter {

    &__category {
        display: block;
        letter-spacing: .2rem;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 100;
        color: var(--color-light);
        text-align: center;
    }
    &__main {
        display: flex;
        margin-top: 2rem;
        flex-direction: column;
    }
    &__input {
        width: 80vw;
        background-color: var(--color-light-2);
        padding: 1.5rem 2rem;
        font-size: 1.5rem;
        font-weight: 100;
        margin: 2rem 0;
        align-self: center;
        border: none;
        border-bottom: .5rem solid transparent;
        transition: all .7s;

        &:focus {
            outline: none;
            border-bottom: .5rem solid var(--color-green);
        }

        &:focus:invalid {
            border-bottom: .5rem solid transparent;
        }

        &::-webkit-input-placeholder {
            color: var(--color-dark-2);
        }
    }

    &__button {
        color: var(--color-light);
        box-shadow: 0 2rem 4rem rgba(black,.5);
        background: linear-gradient(45deg, var(--color-primary), var(--color-primary-2));
        width: 15rem;
    }
}


.blog-categories {

    &__main {
        padding: 0 2rem;
        border-left: .25rem solid var(--color-primary-2-opacity);
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    &__list {
        list-style-type: none;
    }

    &__item {
        line-height: 2.5rem;
        letter-spacing: .15rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        font-weight: 300;
        color: var(--color-light-2);
    }
}
.articles-list {

    &__main {
        padding: 0 2rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
        list-style-type: none;
        border-left: .25rem solid var(--color-primary-2-opacity);
    }

    &__list {
        
    }
    &__item {
        position: relative;
        line-height: 2rem;
        list-style-type: none;
        letter-spacing: .15rem;
        font-size: 1.5rem;
        font-weight: 300;
        color: var(--color-light-2);
        margin-bottom: 1.8rem;
    }
}
