.ty-page {
    display: flex;
    flex-direction: column;
    padding-left: 13rem;
    padding-right: 13rem;
    justify-content: center;

    @include respond(small-phone) {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    @include respond(desktop) {
        height: 70vh;
        margin: auto auto;
    }
    @include respond(big-desktop) {
        height: 80vh;
        margin: auto auto;
    }
    &__img {
       width: 10rem;
       align-self: center;
       margin-top: 10rem;

       @include respond(small-phone) {
            width: 8rem;
        }
        @include respond(tab-port) {
            width: 12rem;
        }
        @include respond(big-desktop) {
            width: 16rem;
        } 
    }
    &__text {
        margin-bottom: 10rem;

        @include respond(desktop) {
            margin-top: 4rem;
        }
    }   
}